<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="db_consultorio" connectionString="server=localhost;user id=sa;password=admin;database=consultorio"
      providerName="System.Data.SqlClient" />
    <add name="bd_consultorio" connectionString="Data Source=DESKTOP-EHBRF4R;Initial Catalog=Consultorio;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>